h1p{
    color: #2296C7;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: blue;
    font-family: Helvetica,sans-serif;
    text-align: right;
}

h3{
    font-family: Comic Sans,Comic Sans MS,cursive
}
p{
    font-weight: 800;
    text-decoration: line-through;
}

table{
     font-family : Helvetica, sans-serif;
     border-collapse: collapse;
    border-width   : 1px;
      border-style   : solid;
      border-color   : #2695A6;
}

th
{
    font-weight: 800;
    font-weight     : 800;
    background-color: #2695A6;
    color           : #fffff;
}

div{
    font-weight: bolder;
    font-weight     : 800;
    color           : #fffff;
    
}